WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeGrupo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeGrupo">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeGrupo?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarGrupo">
<part name="parameters" element="tns:listarGrupo"/>
</message>
<message name="listarGrupoResponse">
<part name="parameters" element="tns:listarGrupoResponse"/>
</message>
<message name="editarGrupo">
<part name="parameters" element="tns:editarGrupo"/>
</message>
<message name="editarGrupoResponse">
<part name="parameters" element="tns:editarGrupoResponse"/>
</message>
<message name="eliminarGrupo">
<part name="parameters" element="tns:eliminarGrupo"/>
</message>
<message name="eliminarGrupoResponse">
<part name="parameters" element="tns:eliminarGrupoResponse"/>
</message>
<message name="contarGrupo">
<part name="parameters" element="tns:contarGrupo"/>
</message>
<message name="contarGrupoResponse">
<part name="parameters" element="tns:contarGrupoResponse"/>
</message>
<message name="insertarGrupo">
<part name="parameters" element="tns:insertarGrupo"/>
</message>
<message name="insertarGrupoResponse">
<part name="parameters" element="tns:insertarGrupoResponse"/>
</message>
<portType name="GestionDeGrupo">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarGrupo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/listarGrupoRequest" message="tns:listarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/listarGrupoResponse" message="tns:listarGrupoResponse"/>
</operation>
<operation name="editarGrupo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/editarGrupoRequest" message="tns:editarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/editarGrupoResponse" message="tns:editarGrupoResponse"/>
</operation>
<operation name="eliminarGrupo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/eliminarGrupoRequest" message="tns:eliminarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/eliminarGrupoResponse" message="tns:eliminarGrupoResponse"/>
</operation>
<operation name="contarGrupo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/contarGrupoRequest" message="tns:contarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/contarGrupoResponse" message="tns:contarGrupoResponse"/>
</operation>
<operation name="insertarGrupo">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/insertarGrupoRequest" message="tns:insertarGrupo"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeGrupo/insertarGrupoResponse" message="tns:insertarGrupoResponse"/>
</operation>
</portType>
<binding name="GestionDeGrupoPortBinding" type="tns:GestionDeGrupo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeGrupo">
<port name="GestionDeGrupoPort" binding="tns:GestionDeGrupoPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeGrupo"/>
</port>
</service>
</definitions>