WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionarReporte.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.pangea.com/">

<xs:element name="contarReporte" type="tns:contarReporte"/>

<xs:element name="contarReporteResponse" type="tns:contarReporteResponse"/>

<xs:element name="editarReporte" type="tns:editarReporte"/>

<xs:element name="editarReporteResponse" type="tns:editarReporteResponse"/>

<xs:element name="eliminarReporte" type="tns:eliminarReporte"/>

<xs:element name="eliminarReporteResponse" type="tns:eliminarReporteResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarReporte" type="tns:insertarReporte"/>

<xs:element name="insertarReporteResponse" type="tns:insertarReporteResponse"/>

<xs:element name="listarReporte" type="tns:listarReporte"/>

<xs:element name="listarReporteResponse" type="tns:listarReporteResponse"/>

<xs:element name="reporte" type="tns:reporte"/>

<xs:complexType name="listarReporte">
<xs:sequence>
<xs:element name="sortF" type="xs:string" minOccurs="0"/>
<xs:element name="sortB" type="xs:boolean"/>
<xs:element name="range" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fil">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarReporteResponse">
<xs:sequence>
<xs:element name="return" type="tns:reporte" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporte">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarReporte">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarReporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarReporte">
<xs:sequence>
<xs:element name="registroReporte" type="tns:reporte" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarReporteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminarReporte">
<xs:sequence>
<xs:element name="idReporte" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarReporteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editarReporte">
<xs:sequence>
<xs:element name="registroReporte" type="tns:reporte" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarReporteResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>