WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeActividades.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeActividades">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeActividades?xsd=1"/>
</xsd:schema>
</types>
<message name="ConsultarCandidatos">
<part name="parameters" element="tns:ConsultarCandidatos"/>
</message>
<message name="ConsultarCandidatosResponse">
<part name="parameters" element="tns:ConsultarCandidatosResponse"/>
</message>
<message name="AgregarDocumento">
<part name="parameters" element="tns:AgregarDocumento"/>
</message>
<message name="AgregarDocumentoResponse">
<part name="parameters" element="tns:AgregarDocumentoResponse"/>
</message>
<message name="ConsultarActividad">
<part name="parameters" element="tns:ConsultarActividad"/>
</message>
<message name="ConsultarActividadResponse">
<part name="parameters" element="tns:ConsultarActividadResponse"/>
</message>
<message name="ConsultarActividades">
<part name="parameters" element="tns:ConsultarActividades"/>
</message>
<message name="ConsultarActividadesResponse">
<part name="parameters" element="tns:ConsultarActividadesResponse"/>
</message>
<message name="ConsultarDocumento">
<part name="parameters" element="tns:ConsultarDocumento"/>
</message>
<message name="ConsultarDocumentoResponse">
<part name="parameters" element="tns:ConsultarDocumentoResponse"/>
</message>
<message name="ConsultarDocumentos">
<part name="parameters" element="tns:ConsultarDocumentos"/>
</message>
<message name="ConsultarDocumentosResponse">
<part name="parameters" element="tns:ConsultarDocumentosResponse"/>
</message>
<message name="FinalizarActividad">
<part name="parameters" element="tns:FinalizarActividad"/>
</message>
<message name="FinalizarActividadResponse">
<part name="parameters" element="tns:FinalizarActividadResponse"/>
</message>
<message name="IniciarActividad">
<part name="parameters" element="tns:IniciarActividad"/>
</message>
<message name="IniciarActividadResponse">
<part name="parameters" element="tns:IniciarActividadResponse"/>
</message>
<message name="AsignarActividad">
<part name="parameters" element="tns:AsignarActividad"/>
</message>
<message name="AsignarActividadResponse">
<part name="parameters" element="tns:AsignarActividadResponse"/>
</message>
<message name="IngresarAuditoria">
<part name="parameters" element="tns:IngresarAuditoria"/>
</message>
<message name="IngresarAuditoriaResponse">
<part name="parameters" element="tns:IngresarAuditoriaResponse"/>
</message>
<portType name="GestionDeActividades">
<operation name="ConsultarCandidatos">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarCandidatosRequest" message="tns:ConsultarCandidatos"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarCandidatosResponse" message="tns:ConsultarCandidatosResponse"/>
</operation>
<operation name="AgregarDocumento">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AgregarDocumentoRequest" message="tns:AgregarDocumento"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AgregarDocumentoResponse" message="tns:AgregarDocumentoResponse"/>
</operation>
<operation name="ConsultarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadRequest" message="tns:ConsultarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadResponse" message="tns:ConsultarActividadResponse"/>
</operation>
<operation name="ConsultarActividades">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesRequest" message="tns:ConsultarActividades"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarActividadesResponse" message="tns:ConsultarActividadesResponse"/>
</operation>
<operation name="ConsultarDocumento">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentoRequest" message="tns:ConsultarDocumento"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentoResponse" message="tns:ConsultarDocumentoResponse"/>
</operation>
<operation name="ConsultarDocumentos">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentosRequest" message="tns:ConsultarDocumentos"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/ConsultarDocumentosResponse" message="tns:ConsultarDocumentosResponse"/>
</operation>
<operation name="FinalizarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/FinalizarActividadRequest" message="tns:FinalizarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/FinalizarActividadResponse" message="tns:FinalizarActividadResponse"/>
</operation>
<operation name="IniciarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IniciarActividadRequest" message="tns:IniciarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IniciarActividadResponse" message="tns:IniciarActividadResponse"/>
</operation>
<operation name="AsignarActividad">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AsignarActividadRequest" message="tns:AsignarActividad"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/AsignarActividadResponse" message="tns:AsignarActividadResponse"/>
</operation>
<operation name="IngresarAuditoria">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IngresarAuditoriaRequest" message="tns:IngresarAuditoria"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeActividades/IngresarAuditoriaResponse" message="tns:IngresarAuditoriaResponse"/>
</operation>
</portType>
<binding name="GestionDeActividadesPortBinding" type="tns:GestionDeActividades">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultarCandidatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultarDocumentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FinalizarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignarActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IngresarAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeActividades">
<port name="GestionDeActividadesPort" binding="tns:GestionDeActividadesPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeActividades"/>
</port>
</service>
</definitions>