WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeOrganizacion.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.pangea.com/">

<xs:element name="contarOrganizacion" type="tns:contarOrganizacion"/>

<xs:element name="contarOrganizacionResponse" type="tns:contarOrganizacionResponse"/>

<xs:element name="editarOrganizacion" type="tns:editarOrganizacion"/>

<xs:element name="editarOrganizacionResponse" type="tns:editarOrganizacionResponse"/>

<xs:element name="eliminarOrganizacion" type="tns:eliminarOrganizacion"/>

<xs:element name="eliminarOrganizacionResponse" type="tns:eliminarOrganizacionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarOrganizacion" type="tns:insertarOrganizacion"/>

<xs:element name="insertarOrganizacionResponse" type="tns:insertarOrganizacionResponse"/>

<xs:element name="listarOrganizacion" type="tns:listarOrganizacion"/>

<xs:element name="listarOrganizacionResponse" type="tns:listarOrganizacionResponse"/>

<xs:element name="organizacion" type="tns:organizacion"/>

<xs:complexType name="editarOrganizacion">
<xs:sequence>
<xs:element name="registroOrganizacion" type="tns:organizacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="organizacion">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fax" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idOrganizacionPadre" type="tns:organizacion" minOccurs="0"/>
<xs:element name="mail" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarOrganizacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="eliminarOrganizacion">
<xs:sequence>
<xs:element name="idOrganizacion" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarOrganizacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarOrganizacion">
<xs:sequence>
<xs:element name="registroOrganizacion" type="tns:organizacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarOrganizacionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarOrganizacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarOrganizacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarOrganizacion">
<xs:sequence>
<xs:element name="sortF" type="xs:string" minOccurs="0"/>
<xs:element name="sortB" type="xs:boolean"/>
<xs:element name="range" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fil">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarOrganizacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:organizacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>