WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeRol.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.pangea.com/">

<xs:element name="clasificacionRol" type="tns:clasificacionRol"/>

<xs:element name="contarRol" type="tns:contarRol"/>

<xs:element name="contarRolResponse" type="tns:contarRolResponse"/>

<xs:element name="editarRol" type="tns:editarRol"/>

<xs:element name="editarRolResponse" type="tns:editarRolResponse"/>

<xs:element name="eliminarRol" type="tns:eliminarRol"/>

<xs:element name="eliminarRolResponse" type="tns:eliminarRolResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarRol" type="tns:insertarRol"/>

<xs:element name="insertarRolResponse" type="tns:insertarRolResponse"/>

<xs:element name="listarRol" type="tns:listarRol"/>

<xs:element name="listarRolResponse" type="tns:listarRolResponse"/>

<xs:element name="rol" type="tns:rol"/>

<xs:complexType name="insertarRol">
<xs:sequence>
<xs:element name="registroRol" type="tns:rol" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rol">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="documentacion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="idClasificacionRol" type="tns:clasificacionRol" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionRol">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRolResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="editarRol">
<xs:sequence>
<xs:element name="edtiRol" type="tns:rol" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarRolResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarRol">
<xs:sequence>
<xs:element name="sortF" type="xs:string" minOccurs="0"/>
<xs:element name="sortB" type="xs:boolean"/>
<xs:element name="range" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fil">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarRolResponse">
<xs:sequence>
<xs:element name="return" type="tns:rol" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRol">
<xs:sequence>
<xs:element name="idrol" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRolResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarRol">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarRolResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>