WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeOrganizacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeOrganizacion">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeOrganizacion?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarOrganizacion">
<part name="parameters" element="tns:listarOrganizacion"/>
</message>
<message name="listarOrganizacionResponse">
<part name="parameters" element="tns:listarOrganizacionResponse"/>
</message>
<message name="insertarOrganizacion">
<part name="parameters" element="tns:insertarOrganizacion"/>
</message>
<message name="insertarOrganizacionResponse">
<part name="parameters" element="tns:insertarOrganizacionResponse"/>
</message>
<message name="editarOrganizacion">
<part name="parameters" element="tns:editarOrganizacion"/>
</message>
<message name="editarOrganizacionResponse">
<part name="parameters" element="tns:editarOrganizacionResponse"/>
</message>
<message name="eliminarOrganizacion">
<part name="parameters" element="tns:eliminarOrganizacion"/>
</message>
<message name="eliminarOrganizacionResponse">
<part name="parameters" element="tns:eliminarOrganizacionResponse"/>
</message>
<message name="contarOrganizacion">
<part name="parameters" element="tns:contarOrganizacion"/>
</message>
<message name="contarOrganizacionResponse">
<part name="parameters" element="tns:contarOrganizacionResponse"/>
</message>
<portType name="GestionDeOrganizacion">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/listarOrganizacionRequest" message="tns:listarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/listarOrganizacionResponse" message="tns:listarOrganizacionResponse"/>
</operation>
<operation name="insertarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/insertarOrganizacionRequest" message="tns:insertarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/insertarOrganizacionResponse" message="tns:insertarOrganizacionResponse"/>
</operation>
<operation name="editarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/editarOrganizacionRequest" message="tns:editarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/editarOrganizacionResponse" message="tns:editarOrganizacionResponse"/>
</operation>
<operation name="eliminarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/eliminarOrganizacionRequest" message="tns:eliminarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/eliminarOrganizacionResponse" message="tns:eliminarOrganizacionResponse"/>
</operation>
<operation name="contarOrganizacion">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/contarOrganizacionRequest" message="tns:contarOrganizacion"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeOrganizacion/contarOrganizacionResponse" message="tns:contarOrganizacionResponse"/>
</operation>
</portType>
<binding name="GestionDeOrganizacionPortBinding" type="tns:GestionDeOrganizacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarOrganizacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeOrganizacion">
<port name="GestionDeOrganizacionPort" binding="tns:GestionDeOrganizacionPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeOrganizacion"/>
</port>
</service>
</definitions>