WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeClasificacion_usuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.capadeservicios.pangea.com/" name="GestionDeClasificacion_usuario">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.capadeservicios.pangea.com/" schemaLocation="http://localhost:15362/CapaDeServicios/GestionDeClasificacion_usuario?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertarClasificacion_usuario">
<part name="parameters" element="tns:insertarClasificacion_usuario"/>
</message>
<message name="insertarClasificacion_usuarioResponse">
<part name="parameters" element="tns:insertarClasificacion_usuarioResponse"/>
</message>
<message name="eliminarClasificacion_usuario">
<part name="parameters" element="tns:eliminarClasificacion_usuario"/>
</message>
<message name="eliminarClasificacion_usuarioResponse">
<part name="parameters" element="tns:eliminarClasificacion_usuarioResponse"/>
</message>
<message name="contarClasificacion_usuario">
<part name="parameters" element="tns:contarClasificacion_usuario"/>
</message>
<message name="contarClasificacion_usuarioResponse">
<part name="parameters" element="tns:contarClasificacion_usuarioResponse"/>
</message>
<message name="listarclasificacion_usuario">
<part name="parameters" element="tns:listarclasificacion_usuario"/>
</message>
<message name="listarclasificacion_usuarioResponse">
<part name="parameters" element="tns:listarclasificacion_usuarioResponse"/>
</message>
<message name="editarClasificacion_usuario">
<part name="parameters" element="tns:editarClasificacion_usuario"/>
</message>
<message name="editarClasificacion_usuarioResponse">
<part name="parameters" element="tns:editarClasificacion_usuarioResponse"/>
</message>
<portType name="GestionDeClasificacion_usuario">
<operation name="hello">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertarClasificacion_usuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/insertarClasificacion_usuarioRequest" message="tns:insertarClasificacion_usuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/insertarClasificacion_usuarioResponse" message="tns:insertarClasificacion_usuarioResponse"/>
</operation>
<operation name="eliminarClasificacion_usuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/eliminarClasificacion_usuarioRequest" message="tns:eliminarClasificacion_usuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/eliminarClasificacion_usuarioResponse" message="tns:eliminarClasificacion_usuarioResponse"/>
</operation>
<operation name="contarClasificacion_usuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/contarClasificacion_usuarioRequest" message="tns:contarClasificacion_usuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/contarClasificacion_usuarioResponse" message="tns:contarClasificacion_usuarioResponse"/>
</operation>
<operation name="listarclasificacion_usuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/listarclasificacion_usuarioRequest" message="tns:listarclasificacion_usuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/listarclasificacion_usuarioResponse" message="tns:listarclasificacion_usuarioResponse"/>
</operation>
<operation name="editarClasificacion_usuario">
<input wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/editarClasificacion_usuarioRequest" message="tns:editarClasificacion_usuario"/>
<output wsam:Action="http://servicios.capadeservicios.pangea.com/GestionDeClasificacion_usuario/editarClasificacion_usuarioResponse" message="tns:editarClasificacion_usuarioResponse"/>
</operation>
</portType>
<binding name="GestionDeClasificacion_usuarioPortBinding" type="tns:GestionDeClasificacion_usuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarClasificacion_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarClasificacion_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="contarClasificacion_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarclasificacion_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarClasificacion_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionDeClasificacion_usuario">
<port name="GestionDeClasificacion_usuarioPort" binding="tns:GestionDeClasificacion_usuarioPortBinding">
<soap:address location="http://localhost:15362/CapaDeServicios/GestionDeClasificacion_usuario"/>
</port>
</service>
</definitions>