WEB-INF/wsdl/localhost_15362/CapaDeServicios/GestionDeClasificacion_rol.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.pangea.com/">

<xs:element name="clasificacionRol" type="tns:clasificacionRol"/>

<xs:element name="contarClasificacion" type="tns:contarClasificacion"/>

<xs:element name="contarClasificacionResponse" type="tns:contarClasificacionResponse"/>

<xs:element name="editar_cla_Rol" type="tns:editar_cla_Rol"/>

<xs:element name="editar_cla_RolResponse" type="tns:editar_cla_RolResponse"/>

<xs:element name="eliminarCla_Rol" type="tns:eliminarCla_Rol"/>

<xs:element name="eliminarCla_RolResponse" type="tns:eliminarCla_RolResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarClasificacion_rol" type="tns:insertarClasificacion_rol"/>

<xs:element name="insertarClasificacion_rolResponse" type="tns:insertarClasificacion_rolResponse"/>

<xs:element name="listarclasificacion_rol" type="tns:listarclasificacion_rol"/>

<xs:element name="listarclasificacion_rolResponse" type="tns:listarclasificacion_rolResponse"/>

<xs:complexType name="eliminarCla_Rol">
<xs:sequence>
<xs:element name="id_cla_Rol" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCla_RolResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarClasificacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar_cla_Rol">
<xs:sequence>
<xs:element name="editar_cla_Rol" type="tns:clasificacionRol" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacionRol">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fechaModificacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editar_cla_RolResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarclasificacion_rol">
<xs:sequence>
<xs:element name="sortF" type="xs:string" minOccurs="0"/>
<xs:element name="sortB" type="xs:boolean"/>
<xs:element name="range" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fil">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarclasificacion_rolResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasificacionRol" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClasificacion_rol">
<xs:sequence>
<xs:element name="registro_cla_Rol" type="tns:clasificacionRol" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarClasificacion_rolResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>