WEB-INF/wsdl/localhost_9090/CapaDeServicios/GestionarSkin.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.capadeservicios.pangea.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.capadeservicios.pangea.com/">

<xs:element name="contarSkin" type="tns:contarSkin"/>

<xs:element name="contarSkinResponse" type="tns:contarSkinResponse"/>

<xs:element name="editarSkin" type="tns:editarSkin"/>

<xs:element name="editarSkinResponse" type="tns:editarSkinResponse"/>

<xs:element name="eliminarSkin" type="tns:eliminarSkin"/>

<xs:element name="eliminarSkinResponse" type="tns:eliminarSkinResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertarSkin" type="tns:insertarSkin"/>

<xs:element name="insertarSkinResponse" type="tns:insertarSkinResponse"/>

<xs:element name="listarSkin" type="tns:listarSkin"/>

<xs:element name="listarSkinResponse" type="tns:listarSkinResponse"/>

<xs:element name="skin" type="tns:skin"/>

<xs:complexType name="eliminarSkin">
<xs:sequence>
<xs:element name="idSkin" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarSkinResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarSkin">
<xs:sequence>
<xs:element name="sortF" type="xs:string" minOccurs="0"/>
<xs:element name="sortB" type="xs:boolean"/>
<xs:element name="range" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fil">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="cad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarSkinResponse">
<xs:sequence>
<xs:element name="return" type="tns:skin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="skin">
<xs:sequence>
<xs:element name="borrado" type="xs:boolean"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contarSkin">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="contarSkinResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarSkin">
<xs:sequence>
<xs:element name="registroskin" type="tns:skin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editarSkinResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="insertarSkin">
<xs:sequence>
<xs:element name="registroskin" type="tns:skin" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarSkinResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>